* {
    border: none;
    font-family: "Hack Nerd Font";
    font-size: 16px;
    color: #ffffff;
    border-radius: 15px;
}

window {
	font-weight: bold;
}
window#waybar {
    background: rgba(0, 0, 0, 0);
}
/*-----module groups----*/

.modules-right {
	background-color: rgba(60,56,54,0.85);
    margin: 5px 10px 0 0;
}
.modules-center {
	background-color: rgba(60,56,54,0.85);
    margin: 5px 0 0 0;
}
.modules-left {
    margin: 5px 0 0 5px;
	background-color: rgba(254,128,25,1); /*rgba(204,36,29,1); rosso*/ /*rgba(214,93,3,0.6);  -marrone cacosburro*/
}


/*-----modules indv----*/


#workspaces button {
    padding: 1px 5px;
    background-color: transparent;
}
#workspaces button:hover {
    box-shadow: inherit;
	background-color: rgba(0,153,153,1);
}
#workspaces button.active {
	background-color: rgba(29,32,33,0.85);
}

#clock{
    padding: 0 40px 0 40px;
}
#cpu {
    padding: 0 0 0 10px;
}
#memory {
    padding: 0 20px 0 0px;
}
#temperature {
    padding: 0 20 0 10px;
}
#bluetooth {
    margin: 0 10px 0 8px;
}
#disk {
    padding: 0 10px 0 0
}
#idle_inhibitor {
    padding: 0 5px 0 5px;
}
#battery{
    padding: 0 10px 0 5px;
}
#pulseaudio {
    padding: 0 5px 0 10px
}
#tray {
    padding: 0 5px 0 5px;
}
#custom-media {
    padding: 0 10px;
}
#network,
#custom-menu,
#bluetooth{
    padding: 0 2px 0 4
}


/*-----Indicators----*/


#power-profiles-daemon.performance {
    background-color: rgba(204, 36, 29, 0.85);
    margin: 3px 0 3px 0;
    padding: 1px 1px 1px 7px;
    border-radius: 100px
}
#power-profiles-daemon.power-saver {
    background-color: rgba(152, 151, 26, 0.85);
    margin: 3px 0 3px 0;
    padding: 1px 2px 1px 6px;
    border-radius: 100px
}
#power-profiles-daemon.balanced {
    background-color: rgba(69, 133, 136, 0.85);
    margin: 3px 0 3px 0;
    padding: 1px 3px 1px 8px;
    border-radius: 100px
}
#bluetooth.connected {
    background-color: rgba(69, 133, 136, 0.85);
    margin: 3px 0 3px 0;
    padding: 1px 10px 1px 8px;
}
#idle_inhibitor.activated {
    color: #2dcc36;
}
#pulseaudio.muted {
    color: #cc3436;
}
#battery.charging {
    color: #2dcc36;
}
#battery.warning:not(.charging) {
	color: #e6e600;
}
#battery.critical:not(.charging) {
    color: #cc3436;
}
#temperature.critical {
    color: #cc3436;
}
/*-----Colors----*/
/*
 *rgba(0,85,102,1),#005566 --> Indigo(dye)
 *rgba(0,43,51,1),#002B33 --> Dark Green 
 *rgba(0,153,153,1),#009999 --> Persian Green 
 *
 */

 /* position = top, dx, bottom, sx */